* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark-clr: #005c7c;
  --neutral-dark-clr: #4c8eb1;
  --neutral-light-clr: #caf7ff;
  --accent-clr: #ed982a;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #e9a040;
  color: white;
}

body {
  font-family: "Work Sans", sans-serif;
}

img {
  max-width: 50%;
}

.logo-img {
  max-width: 10%;
  margin-left: 3rem;
}

.container {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__list {
    display: flex;
    margin-right: 3rem;

    li {
      list-style: none;

      & + li {
        margin-left: 1rem;
      }
    }
  }
}

.nav__link {
  text-decoration: none;
  color: var(--primary-dark-clr);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    height: 2px;
    z-index: -1;
    background-color: var(--accent-clr);
    transition: transform 125ms ease-in-out;
    transform-origin: bottom;
  }
  &:hover,
  &:focus {
    color: #fff;
  }
  &:hover::after,
  &:focus::after {
    transform: scaleY(11);
  }
}

.btn {
  background-color: var(--accent-clr);
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.5em 1.5em;
  border-radius: 5em;
  margin-top: 3rem;
  transition: (opacity, transform), 250ms ease-in-out;
  font-weight: 700;

  &:hover,
  &:focus {
    opacity: 0.9;
    transform: scale(0.9);
  }
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

.hero {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;

  img {
    margin-left: 7rem;
  }
}

.title {
  font-size: 5rem;
  color: var(--primary-dark-clr);
  line-height: 1.1;
  margin-bottom: 2rem;
}

p {
  color: #292929;
}

.products {
  background-color: var(--primary-dark-clr);
  padding: 2em 0;

  .product-title {
    font-size: 3em;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .card {
      background-color: #f4f4f4;
      width: 300px;
      min-height: 300px;
      border-radius: 1em;
      padding: 1em 0;
      box-shadow: 0 1 5 rgb(0, 0, 0);
      .flex {
        display: flex;
        justify-content: center;
      }

      .upcoming {
        text-align: center;
      }

      .card-title {
        color: var(--accent-clr);
        text-align: center;
      }

      .card-description {
        color: rgb(94, 94, 94);
        margin-top: 1rem;
        text-align: center;
      }
    }
  }
}

.contact {
  padding: 2em 0;

  &-title {
    text-align: center;
    font-size: 3rem;
    color: var(--primary-dark-clr);
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      display: block;
      padding: 0.5em 3em;
    }

    .message {
      display: flex;
      flex-direction: column;
    }
  }
}
